<div>
  <canvas id="myChart" x-data="chartData" x-init="showChart"></canvas>
</div>


<script>
function chartData() {
  return {
    async showChart () {
      let companyName = ''
      for (const [key, value] of new URLSearchParams(window.location.search.slice(1))) {
        if (key === 'companyName') {
          companyName = value
        }
      }
      const messageResult = await a.input.fetchMessage(argNamed({
        param: { companyName },
        browserServerSetting: a.setting.browserServerSetting.getList('apiEndpoint'),
        lib: [a.lib.common.input.getRequest],
      }))
      const companyJsonList = messageResult?.result?.jsonContent
      Object.entries(companyJsonList).forEach(([graphLabel, companyJson]) => {
        console.log({ graphLabel, companyJson })
        const { datasetLabelList, labelList, dataListList } = companyJson.parsedData
        console.log({ datasetLabelList, labelList, dataListList })

        const datasetList = Object.entries(datasetLabelList).map(([i, datasetLabel]) => {
          let yAxisID = 'leftAxis'
          if (i === '4') {
            yAxisID = 'rightAxis'
          }
          return {
            label: datasetLabel,
            data: dataListList[i],
            yAxisID,
          }
        })
        console.log({ datasetList })

        const ctx = document.getElementById('myChart');

        const data = {
          labels: labelList,
          datasets: datasetList,
        }

        new Chart(ctx, {
          type: 'line',
          data,
          options: {
            scales: {
              leftAxis: {
                type: 'linear',
                display: true,
                position: 'left',
              },
              rightAxis: {
                type: 'linear',
                display: true,
                position: 'right',

                grid: {
                  drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
              },
            }
          }
        });
      })
    }
  }
}

</script>

